.create__item{
    width: 100%;
}

.create__item-title{
    margin-top: 30px;
    font-size: 3rem;
    color: rgb(35, 5, 63);
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.create__item-uploader > .ant-upload {
    width:100%;
    height: 100%;
    min-height: 400px; 
}

.ant-upload{
    min-height: 300px !important;
}